<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <center>
    <h1> <%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>We perform CRUD operations for students and faculty</p>
    <p>Visit routes:    /subjects, /faculty, /students</p>
    <a href="/subject" ><button type="button">Subjects</button></a>
    <a href="/faculty"><button type="button">Faculty</button></a>
    <a href="/student"><button type="button">Students</button></a>
</center>
  </body>
</html>